.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-top: 0.5rem;
    opacity: 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 0.25rem 0.25rem 0;
}

.custom-file-label[data-browse]::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.375rem 0.75rem;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem 0 0 0.25rem;
}

.checkbox-container {
    margin-top: 20px;
}

.checkbox-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.checkbox-label input {
    position: absolute;
    left: 0;
    top: 0;
    height: 25px;
    width: 25px;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 25px;
    width: 25px;
    border: 2px solid #555;
}

.checkbox-label input:checked ~ span:before {
    background-color: #555;
}

.main-container {
    display: flex;
    justify-content: space-between; /* if you want some space between the elements */
}


.task-section {
    width: 45%; /* adjust according to your needs */
}
